### Task

### Create a Dataframe, and merge it with a new column.

In [1]:
import pandas as pd
dict1 = {
    "Name":["Parul","Harsh","Abhishek","Mayank"],
    "Fav_Color":["Black","Purple","Red","Blue"]
}
df = pd.DataFrame(dict1)
df

       Name Fav_Color
0     Parul     Black
1     Harsh    Purple
2  Abhishek       Red
3    Mayank      Blue

In [2]:
dict2 = {
    "Name":["Priya","Harsh","Shruti","Mitesh"],
    "Age":[23,18,22,20]
}
df1 = pd.DataFrame(dict2)
df1

     Name  Age
0   Priya   23
1   Harsh   18
2  Shruti   22
3  Mitesh   20

In [3]:
pd.merge(df,df1,on = "Name",how= "outer")

       Name Fav_Color   Age
0     Parul     Black   NaN
1     Harsh    Purple  18.0
2  Abhishek       Red   NaN
3    Mayank      Blue   NaN
4     Priya       NaN  23.0
5    Shruti       NaN  22.0
6    Mitesh       NaN  20.0