# Task 3

In [1]:
dict1 = { 
   "april_batch":{ 
      "student":{"name":"Mike", "marks":{"python":80, "maths":70} }
   }
}

In [2]:
# From the above dictionary, do the following tasks

# 1) access "Mike"
# 2) access 80
# 3) change "Mike" to "Your name"
# 4) add ML = 80 and DL = 80 inside marks

In [3]:
# 1) access "Mike"

dict1["april_batch"]["student"]["name"]

'Mike'

In [4]:
# 2) access 80
dict1["april_batch"]["student"]["marks"]["python"]

80

In [5]:
# 3) change "Mike" to "Your name"
s = dict1["april_batch"]["student"]["name"] = "Sapna"
print(s)

Sapna

In [6]:
# 4) add ML = 80 and DL = 80 inside marks
dict1["april_batch"]["student"]["marks"]["ML"]= 80
dict1["april_batch"]["student"]["marks"]["DL"]= 80
print(dict1)

{'april_batch': {'student': {'name': 'Sapna', 'marks': {'python': 80, 'maths': 70, 'ML': 80, 'DL': 80}}}}